[tool.poetry]
authors = ["GreyElaina <GreyElaina@outlook.com>"]
description = "a collection of shared components for graia"
license = "MIT"
name = "graia-amnesia"
packages = [{include = "graia", from = "src"}]
readme = "README.md"
version = "0.4.0"

[tool.poetry.dependencies]
loguru = "^0.6.0"
python = "^3.8"
rich = "^12.0.0"

ujson = {version = "^5.2.0", optional = true}
orjson = {version = "^3.6.7", optional = true}
yarl = "^1.7.2"

[tool.poetry.dev-dependencies]
aiohttp = "^3.8.1"
black = {version = "^22.1.0", allow-prereleases = true}
ipykernel = "^6.9.2"
starlette = "^0.19.0"
uvicorn = "^0.17.6"
websockets = "^10.3"

[tool.poetry.extras]
orjson = ["orjson"]
ujson = ["ujson"]

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.isort]
profile = "black"

[tool.black]
line_length = 120
